body {
    font-family: Roboto, Helvectica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 8px 32px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
}

.hdLinks {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

.hdLinks,
.heroSecondary {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: center;
}

.heroMain {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.widthSet {
    max-width: 60vw;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px;
    gap: 32px;
}

.right img {
    max-width: 25vw;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    color: #1f2937;
}

.midTitle {
    font-size: 36px;
    font-weight: 900;
}

.imgContainer {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60vw;
    margin-bottom: 40px;
}

.imgBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 12vw;
}

.imgBlock img {
    border: #3882f6 2px solid;
    border-radius: 30px;
}

.qoute {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    margin: 56px;
}

.qText {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 0;
}

.qPers {
    text-align: right;
    width: 60vw;
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
}

.cta {
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaHighlight {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 50vw;
    flex: 1;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 56px;
    border-radius: 10px;
}

.ctaHighlight button {
    border: #e5e7eb 2px solid;
}

h3 {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}